@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
         
}
   


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Clean login form</title>
  <link rel="stylesheet" href="/Account/SignIn.css">
  @Html.Partial("_MenuPartialView")
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="#">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="float">Login</button>
       </form>
 		</div>
 </div>
<!-- partial -->
  
</body>
</html>
